@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  border: #1b1e2b solid 1px;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: large;
  background-color: #1b1e2b;
  color: orange;
}
